body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-size: cover;
    background-image:url(https://tse1.mm.bing.net/th?id=OIP.FhDECO4yYSHrsk4feE5MRwHaEe&pid=Api&P=0&h=180);
  }
  
  .calendar-container {
    background-color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .month-name {
    margin: 0;
    background-color:green;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .day-name {
    font-size: 20px;
    color:blue;

  }
  
  .day-number {
    font-size: 80px;
    margin: 0;
    font-weight: bold;
  }
  
  .year {
    margin: 20px 0;
    font-size: 20px;
    color: lightskyblue;
    font-weight: 500;
  }